.logo{
    height: 3.25rem;
    margin-left: 2rem;
}
.search{
    display: flex;
    align-items: center;
    flex: 0 0 40%;
    justify-content: center;

    @media only screen and (max-width:$bp-small-small){
        order: 1;
        flex: 0 0 100%;
    }

    &__input{
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: $color-grey-light-2;
        border: none;
        outline: none;
        padding: .7rem 2rem;
        border-radius: 10rem;
        width: 90%;
        transition: all .2s;
        margin-right: -3.5rem;

    

        &:focus{
            outline: 0;
            width: 100%;
            background-color: $color-grey-light-3;
            
        }
        &::-webkit-input-placeholder{
            font-weight: 100;
            color: $color-grey-light-4;
        }
    }
    ///////////////////////
    /// json property
   &__input:focus + &__button{
    background-color: $color-grey-light-3;
   }

    &__button{
        border: none;
        outline: none;
        background-color: $color-grey-light-2;
        @media only screen and (max-width:$bp-small-small){
       margin-right: 2rem;
    
        }

        &:focus{
            outline: none;
            
        }
        &:active{
            transform: translateY(.2rem);
        }
    }
    &__icon{
        height: 2rem;
        width: 2rem;
        fill: $color-grey-dark-3;
    }
}

.user__nav{
    display: flex;
    align-items: center;
    align-self: stretch;

    //// this means .user__nav > * (all of it direct children)
    &>*{
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
    }


    &>*:hover{
        background-color: $color-grey-light-2;
    }

    &-icon-box{
        position: relative;
    }
    &-icon{
        height: 2.4rem;
        width: 2.4rem;
        fill: $color-grey-dark-2;
        

    }
    &-notification{
        font-size: .8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        background-color: $color-primary;
        color: $color-white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        position: absolute;
        top: 1rem;
        right: 1rem;     
        @media only screen and (max-width:$bp-small-small){
            top:-0.4rem;
            
        }   
    }
    &-user-photo{
        height: 3.5rem;
        border-radius: 50%;
        margin-right: 1rem;
    }

}


//////////
/// side__navigation
/// 

    .side__nav{
        list-style: none;
        font-size: 1.6rem;
        margin-top: 3.5rem;

        @media only screen and (max-width:$bp-medium){
        display: flex;
        margin: 0;
        flex: 1;

        }
        &-item{
            position: relative;

            @media only screen and (max-width:$bp-medium){
                display: flex;
                align-items: stretch;
                margin: 0 ;
                flex: 1;
                justify-content: center;
                }

               
            
            &:not(:last-child){
                margin-bottom: .5rem;
                 @media only screen and (max-width:$bp-medium){
                
                margin: 0;
                
                }
            }
            
        }

        &-item:before{
            content: "";
            position: absolute;
            top:0;
            left: 0;
            height: 100%;
            width: .3rem;
            background-color: $color-primary;
            // transform-origin: top; to set where the transform starts
            transform: scaleY(0);
            transition: transform .2s,
                         width .4s cubic-bezier(1,0,0,1) .2s;
            
        }
        &-item:hover::before {
            transform: scaleY(1);
            width: 100%;
        }

        &-item:active::before{
            background-color: $color-primary-light;
        }

        &-link:link,
        &-link:visited{
            color: $color-grey-light-1;
            text-decoration: none;
            text-transform: uppercase;
            display: block;
            padding: 1.5rem 3rem;
            display: flex;
            align-items: center;
            position: relative;
            z-index: 10;

            @media only screen and (max-width:$bp-small){
                flex-direction: column;
                padding: 1rem 2rem;
             } 
        }

        &-icon{
            height: 2.4rem;
            width: 2.4rem;
            margin-right: 2rem;
            fill: currentColor ;
            @media only screen and (max-width:$bp-small){
               margin: 0;
               width: 1.6rem;
               height: 1.6rem;
             } 
        }
    }
    .legal{
        font-size: 1.4rem;
        text-align: center;
        color: $color-grey-light-4;
        padding: 2.5rem;

        @media only screen and (max-width:$bp-medium){
            display: none;
        }
       
    }


    ///////////
    /// main  hotel-view 
    /// 
    .gallery{
        display: flex;

        @media only screen and (max-width:$bp-smallest){
               flex-direction: column;
        }

        &__image{
            width: 100%;
            display: block;
        }
    }


     ///////////
    /// Overview styles
    /// 
    
    .overview{
        display: flex;
        align-items: center;
        border-bottom:$border;

        @media only screen and (max-width:$bp-smallest){
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-around;
            height: 20rem;
            padding: 2rem;
        }

        &__heading{
            font-size: 2.2rem;
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: .2rem;
            padding: 1.5rem 3rem;

            @media only screen and (max-width:$bp-small){
               font-size: 1.8rem;
               padding: 1.2rem 2rem;
              } 
              @media only screen and (max-width:$bp-smallest){
               
                padding: 0;
            }
        }
        &__stars{
            display: flex;
            align-items: center;
            margin-right: auto;

           
        }
        &__stars-icon,
        &__location-icon{
            width: 1.75rem;
            height: 1.75rem;
            fill: $color-primary;
        }
        &__location{
            font-size: 1.6rem;
            display: flex;
            align-items: center;

            @media only screen and (max-width:$bp-small){
                font-size: 1.4rem;
              } 
        }
        &__location-icon{
            margin-right: 1.5rem;
            @media only screen and (max-width:$bp-small){
                margin-right: 1.2rem;
              } 
        }
        
        &__rating{
            align-self: stretch;
            padding: 0 2.25rem;
            background-color: $color-primary;
            margin-left: 3rem;
            color: $color-white;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            @media only screen and (max-width:$bp-small){
                padding: 0 1.5rem;
                margin-left: 2rem;
              } 
              @media only screen and (max-width:$bp-smallest){
               
                margin: 0;
                flex-direction: row;
                justify-content: flex-start;
                
            }
        }
        &__rating-average{
            font-size: 2.25rem ;
            font-weight: 300;
            margin-bottom: -.3rem;

            @media only screen and (max-width:$bp-small){
                margin: 0;
               font-size: 1.8rem;
              } 
        }
        &__rating-count{
            font-size: .8rem;
            text-transform: uppercase;
            
            @media only screen and (max-width:$bp-small){
                font-size: .6rem;
              } 
              @media only screen and (max-width:$bp-smallest){
               
                margin-left: auto;
            }
        }
    }
      ///////////
    /// button inline
    /// 
    .btn-inline{
        border: none;
        color: $color-primary;
        font-size: inherit;
        border-bottom: 1px solid currentColor;
        padding-bottom: .2rem;
        display: inline-block;
        background-color: transparent;
        cursor: pointer;
        transition: all .2s ease;
        @media only screen and (max-width:$bp-small){
            align-self: center;
         } 

        & span{
            margin-left: .3rem;
            transition: margin-left .2s;
        }

        &:hover{
            background-color: transparent;
            color: $color-grey-dark;

            span{
                margin-left: .8rem;
            }
        }
        &:focus{
            background-color: transparent;
            outline: none;
            animation: pulsate 1s infinite;
        }
    }
    

    @keyframes pulsate {
        0%{
            transform: scale(1);
            box-shadow: none;
        }
        50%{
            transform: scale(1.05);
            box-shadow: 0 1rem 4rem rgba( #0000004c, 0.2);
        }
        100%{
            transform: scale(1);
            box-shadow: none;
        }
    }

     ///////////
    /// Paragraph
    /// 
    .paragraph:not(:last-of-type){
        margin-bottom: 2rem;

    }









     ///////////
    /// List
    /// 
    .list{
        list-style: none;
        margin: 3rem 0;
        padding: 3rem 0;
        border-top:$border;
        border-bottom: $border;
        display: flex;
        flex-wrap: wrap;
    }
    .list__item{
        flex: 0 0 50%;
        margin-bottom: .7rem;

        @media only screen and (max-width:$bp-smallest){
               flex: 0 0 100%;
        }

        &::before{
            content: "";
            display: inline-block;
            height: 1rem;
            width: 1rem;
            margin-right: .7rem;
            
            //older browsers support this bg image 
            // background-image: url(../img/chevron-thin-right.svg);
            // background-size: cover;

            // new browsers we use mask
            background-color: $color-primary;
            --webkit-mask-image : url(../img/chevron-thin-right.svg);
            --webkit-mask-size :cover;

            mask-image: url(../img/chevron-thin-right.svg);
            mask-size: cover;
        }
    }





     ///////////
    /// recommend
    /// 
    
    .recommend{
        font-size: 1.4rem;
        color: $color-grey-dark-3;
        display: flex;
        align-items: center;

        &__count{
            margin-right: auto;
        }

        &__image{
            box-sizing: content-box;
            height: 4rem;
            width: 4rem;
            border-radius: 50%;
            border: .3rem solid $color-white;

            &:not(:last-child){
                margin-right: -1.5rem;
            }
        }
    }


      ///////////
    /// reviews
    
    .review{
        background-color: $color-white;
        box-shadow: $box-shadow-light;
        padding: 3rem;
        margin-bottom:3rem ;
        position: relative;
        overflow: hidden;

        @media only screen and (max-width : $bp-medium){
            padding: 2rem;
            margin-bottom: 3rem;
        }

        

        &__text{
            margin-bottom: 2rem;
            position: relative;
            z-index: 10;
        }
        &__user{
            display: flex;
            align-items: center;

            &-name{
                font-size: 1.2rem;
                font-weight: 700;
                margin-bottom: .4rem;
                text-transform: uppercase;
            }
            &-date{
                font-size: 1rem;
                color: $color-grey-dark-3;

            }

        }

        &__photo{
            height: 4.5rem;
            width: 4.5rem;
            border-radius: 50%;
            margin-right: 1.6rem;

        }
        &__rating{
            font-size: 2.4rem;
            color: $color-primary;
            font-weight: 300;

        }
       
        &::before{
            content: "\201c";
            position: absolute;
            top: -2rem;
            left: -1rem;
            font-size: 20rem;
            color: $color-grey-light-2;
            line-height: .9;
            font-family: sans-serif;
            z-index: 1;
        }
    }
    .review__user-box{
        margin-right: auto;
    }

    .CTA{
        text-align: center;
        padding: 3.5rem 0;

        @media only screen and (max-width : $bp-medium){
            padding: 2.5rem;
            
        }

        &__book-now{
            font-size: 1.6rem;
            font-weight: 300;
            text-transform: uppercase;
            margin-bottom: 2.5rem;
        }
    }
    .btn{
        font-size: 1.6rem;
        border: none;
        font-weight: 300;
        text-transform: uppercase;
        border-radius: 10rem;
        background-image: linear-gradient(to right,  $color-primary-light, $color-primary-dark);
        color: $color-white;
        position: relative;
        overflow: hidden;
        cursor: pointer;

        &-visible{
            display: inline-block;
            padding: 2rem 7.5rem;
            transition: all .2s;
            width: 100%;
            height: 100%;

        }
        &-invisible{
            display: inline-block;
            padding: 2rem 0;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: -100%;
            transition: all .2s;
        }
        &:hover {
            background-image: linear-gradient(to right bottom,  $color-primary-dark, $color-primary-light);
        }
        &:hover &-visible{
           transform: translateY(100%);
        }

        &:hover &-invisible{
            top: 0;

        }
        &:focus{
            outline: none;
            animation: pulsate .8s infinite;
        }
    }

        

    ///////island
    /// 
    /// 
  

    .flight__search{
        flex:0 0 45%;
        opacity:1;
        backdrop-filter: blur(10rem);
        position: relative;
        display: flex;
        flex-direction: column;

        &::before{
            position: absolute;
            z-index: -10;
            content: " ";
            width: 100%;
            height: 100%;
            opacity: .6;
            background-color: $color-white;
        }
    }

    .island-search-bar{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 1rem;
        
        
    }
    .island-search{

        &__input{
            width: 90%;
            margin-right: -2.8rem;
            border: none;
            background-color: transparent;
            border-bottom: .2rem solid $color-grey-dark-2;

            &:focus{
                outline: none;
                border-bottom: .2rem solid $color-primary;
            }
        }
        &__button{
            background-color: transparent;
            border: none;
        }

        &__icon{
            height:3.6rem;
            width: 3.6rem;
            fill: $color-grey-dark-2;
            padding: .8rem;
            background-color:none;
        }
    }
    
    

    .search-filter{
        display: flex;
        flex-direction: column;
        margin: 3rem auto;
        background-color:   rgba($color-white, .6) ;
        padding: 2rem;
        border-radius: 1rem;
        height: 20rem;
        width: 90%;
        justify-content: space-between;
        box-shadow: $box-shadow-light;
        position: relative;

        &-heading{
            text-transform: uppercase;
            font-size: 1.2rem;
        }
    }
    .filter{
        display: flex;
        align-items: center;

        &:nth-of-type(2)>input{
            width: 30%;

            &:not(:last-child){
                margin-right: 2.5rem;
            }
        }
        &-input{
            background-color: transparent;
            border: none;
            outline: none;
            align-self: stretch;

            &::-webkit-input-placeholder{
                font-size: 1.6rem;
            }
        }

        &-icon{
            height: 3.4rem;
                width: 3.4rem;
                margin-right: 2rem;
                fill: $color-primary ;
                background-color: rgba($color-primary, .2);
                border-radius: .5rem;
                padding: .8rem;
        }

        &-search{
            position: absolute;
            height: 100%;
            width: 6rem;
            top: 0;
            right: 0;
            border: none;
            background-color: $color-primary;
            border-radius: 1rem;
            box-shadow: -.4rem 0 3rem rgba($color-primary, .4);

            &__icon{
                width:2rem ;
                height: 2rem;
                fill: $color-white;

            }
        }
    }

   .flight__search-popular{
    margin-left: 2rem;
    margin-bottom: 2rem;
    // color: $color-grey-dark;
    &-heading{
        font-size: 2.2rem;
      
    }
    & span{
        font-size: 1.6rem;
    }
   }

   .flight__places{

    &-card{
        width: 90%;
        margin: 0 auto;
        display: flex;
        padding: 1rem;
        border-radius: 1.6rem;
        background-color:   rgba($color-white, .6) ;
        box-shadow: $box-shadow-light;
        margin-bottom: 2rem;
       
    }
    &-image{
        width: 10rem;
        border-radius: inherit;
        margin-right: 2rem;
        
    }

    &-description{

        & p{
            font-size: 1.2rem;
            &:last-child{
                color: $color-grey-dark;
            }
        }
        & h2{
            font-size: 1.6rem;
            text-transform: uppercase;
            color: $color-grey-dark;
            font-weight: 800;
        }
        & span{
            display: flex;
            align-items: center;

            & div{
                margin-left: 1rem;
            }
        }
    }
   }

    .island__images{
        flex: 0 0 55%;
        // background-image: url(../img/island-main.jpg);
        background-size: cover;
        // border-radius: 2rem;
        min-height: 70rem;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        // border: 2rem solid $color-white;
        background-image: linear-gradient(to right bottom,$color-primary-light, $color-primary-dark), url(../img/island-main.jpg);
    background-blend-mode: multiply;

    @media only screen and (max-width:$bp-small){
        order: -1;
        margin-bottom: 2rem;
    }

        &-hero{
            color: $color-white;
            margin-top: auto;
            margin-bottom: 20rem;
            & p{
                font-size: 2.4rem;
                
            }
        }
        &-heading{
            font-size: 6.4rem;
            font-weight: 900;
        }

        &-plan{
            background-color: transparent;
            border: .2rem solid $color-white;
            border-radius: 2rem;
            padding: 2rem ;
            color: $color-white;
            margin-top: 2rem;
        }
        &-choose{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            // padding: 2rem;
            font-size: 1.6rem;
            color: $color-white;
        }
        &-gallery{
            display: flex;
            width: 70%;
            justify-content: space-between;
            background-color: $color-white;
            align-self: stretch;
            border-radius: 2rem;
            padding: 1rem;
            box-shadow: $box-shadow-light;
        }
        &-image{
            width: 30%;
            border-radius: 2rem;
        }
    }

    .active{
        display: block;
        animation: fade-in .5s ease;
    }

    @keyframes fade-in{
        0%{
            opacity: 0;
        }
        50%{
            opacity: .5;
        }
        100%{
            opacity : 1;
        }
    }
    .inactive{
        display: none;
    }
    

    //////////////////
    /// booking

    .booking__flight{
        flex: 0 0 47%;
        

    }
    
    .booking__flight-location{
        font-size: 1.2rem;
       color: $color-white;
       padding: 2rem;
       border-radius: 1.4rem;
       position: relative;
       background-image: linear-gradient(to bottom, $color-primary-light, $color-primary-dark);
       

       &::before{
        content: '';
        // width: 2rem;
        // height: 2rem;
        border-top: 1rem solid $color-primary-dark;
        border-left: 1rem solid transparent;
        border-right: 1rem solid transparent;
        position: absolute;
        bottom: -1rem;
        left: 50%;
        transform: translateX(-50%);
    }
    }
    .booking__flight-destination{
        display: flex;
        justify-content: space-between;
        
        
        

        &-abb{
            display: flex;
            justify-content: space-between;
            font-size: 2.2rem;
            align-items: center;
            &-abb3{
                margin: 0 auto;

            }
        }

        &-cal{
            display: flex;
            justify-content: space-between;

        }
    }

    .booking__aircraft-details{
        display: flex;
        justify-content: space-between;
        padding: 2rem;
        font-size: 1.2rem;
        color: $color-grey-dark;
        border-radius: 0 0 1.4rem 1.4rem;
        box-shadow: $box-shadow-light;
        
    }
    .booking__aircraft-flight{
        display: flex;
        flex-direction: column;
        text-transform: uppercase;

       
       
    }
    .booking__aircraft-type{
        font-weight: 900;
    }


    ///////////safety__precaution
    ///
    
    .safety__precaution{
        padding: 2rem;
        margin-top: 4rem;
        box-shadow: $box-shadow-light;
        backdrop-filter: blur(2rem);
        border-radius: 1.6rem;
        opacity: .8;
    }
    .safety__precaution-details{
        
        &-heading{
            color:$color-grey-dark;
            margin-bottom: 0 !important;
            font-size: 1.6rem;
        }
        &>*:not(:last-child){
        margin-bottom: 2rem;
        }
        &-body{
            font-size: 1.4rem;
        }

        &-opt{
            display: flex;
            align-items: center;
            

            & svg{
                margin-right: 2rem;
            }
        }

        &-options> p{
            font-size: 1.4rem;

        }
    }

    .booking__type{
        flex: 0 0 50%;
        margin-left: auto;

        &-option{
         display: flex;
         align-items: center;
        background-color: rgba ($color-white, .2);
        border-radius: 1.6rem;
        box-shadow: $box-shadow-light;
        backdrop-filter: blur(10rem);
        margin-bottom: 2rem;

        }
    }

    .booking__type-economy{
        padding: 2rem;
        display:flex;
        flex-direction: column;
        justify-content: space-between;

        &-heading{
            font-size: 1.8rem;
            color: $color-grey-dark;
        }
        &-list{
            list-style: none;
            display: flex;
            font-size: 1.4rem;
            flex-wrap: wrap;
          

            & li {
                flex: 0 0 50%;
                display: flex;
                align-items: center;

                & span{
                    margin-left: 1.4rem;
                }
            }
        }
        &-list2{
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            
            & li{
                flex: 0 0 50%;
                font-size: 1.2rem;
                font-weight: 800;
                color: $color-grey-dark;
            }
        }

        &-price{
        
            display: flex;
            padding-top: 1rem;
            border-top: 1px solid $color-grey-dark-3;
            align-items: center;
            // margin-top: auto;
            & p{
                font-size: 1.6rem;
                margin-right: 2rem;
                font-weight: 800;
            }
        }
    }
.booking__type-option-premium{
    flex: 0 0 30%;

    &-seat{
        width: 100%;
    }
}